{%  extends 'base.html.twig' %}

{% block body %}
    <div class="card-columns">
        {% for feedback in feedbacks %}
            <div class="card text-center" style="width: 18rem;">
                <div class="card border-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">{{ feedback.user.username }}</div>
                    <div class="card-body text-dar">
                        <p class="card-text">{{ feedback.text }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if is_granted('ROLE_USER') %}
        <div>
            <form action="{{ path('feedback_save') }}" method="post">
                <div class="form-group">
                    <input name="text" placeholder="Введите комментарий" type="textarea">
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    {% endif %}
{% endblock %}
